@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'main-font';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.div {
  @apply w-full bg-white antialiased;
}

.div-css {
  @apply h-screen w-full;
}

.header {
  @apply w-full p-4 border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 text-center;
  font-family: 'main-font';
}

.title {
  @apply text-2xl font-bold tracking-tight text-gray-900;
  font-family: 'main-font';
}

.card {
  @apply block max-w-sm m-4 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  font-family: 'main-font';
}

/*Calendar*/
.calendar {
  @apply flex flex-col w-full h-screen;
}

.calendar-header {
  @apply flex justify-between w-full p-4 border border-blue-50 bg-blue-50 text-center;
  font-family: 'main-font';
}

.calendar-btn {
  @apply flex text-2xl;
}

.month {
  @apply text-2xl pr-1;
}

.dayOfWeek {
  @apply flex border-b-2 border-blue-50;
}

.weeks {
  @apply flex h-full border-b-2 border-blue-50;
}

.days {
  @apply h-full flex flex-col;
}

.day {
  @apply flex flex-1 border-r-2 border-blue-50 text-gray-500 hover:bg-gray-50 justify-between;
  font-family: 'main-font';
}

.text {
  @apply text-xs text-gray-500 pr-1 pl-1;
  font-family: 'main-font';
}

.text-gray {
  @apply text-xs;
  color: #d1d5db !important;
  font-family: 'main-font';
}

.text-red {
  @apply text-xs;
  color: #f05252 !important;
  font-family: 'main-font';
}

#Sun {
  @apply text-red-500;
}

#Sat {
  @apply text-blue-500;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
