@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'main-font';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.div {
  @apply w-full bg-white antialiased;
}

.header {
  @apply w-full p-4 border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 text-center;
  font-family: 'main-font';
}

.calendar-header {
  @apply w-full p-4 border border-blue-50 bg-blue-50 dark:border-gray-600 dark:bg-gray-700 text-center;
  font-family: 'main-font';
}

.month {
  @apply text-2xl pr-1
}

.title {
  @apply text-2xl font-bold tracking-tight text-gray-900;
  font-family: 'main-font';
}

.card {
  @apply block max-w-sm m-4 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  font-family: 'main-font';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
