@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'main-font';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.div-css {
  @apply w-full;
}

.header {
  @apply w-full p-4 border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 text-center;
}

.title {
  @apply text-2xl font-bold tracking-tight text-gray-900;
}

.card {
  @apply block max-w-sm m-4 p-4 bg-white border border-gray-200 rounded-lg shadow;
}

/*side-memo*/

.side-off {
  @apply fixed right-0 invisible translate-x-full ease-in-out duration-300;
}

.side-on {
  @apply translate-x-0 flex flex-col ease-in-out duration-300;
  width: 30rem;
}


.side-header {
  @apply w-full h-12 p-3 flex justify-between items-center;
}

.side-memo-title {
  @apply flex w-full h-12 p-3;
}

.input {
  @apply border-gray-200 text-gray-900 text-sm rounded-lg border-2 focus:ring-blue-200 focus:border-blue-200 block w-full ml-2;
}

.timer {
  @apply absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none;
}

.side-select-time {
  @apply flex w-full h-12 p-3;
}

.side-textarea {
  @apply w-full h-full p-3;
}

.textarea {
  @apply block p-2.5 w-full h-full text-sm text-gray-900 rounded-lg border-2 border-gray-200 focus:ring-blue-200 focus:border-blue-200 resize-none;
}

.side-confirm {
  @apply flex flex-row-reverse w-full h-16 p-3
}

.side-confirm-button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
}

.side-close-button {
  @apply flex text-2xl;
}

.memo-delete-button {
  @apply pl-1
}

/*Calendar*/
.calendar {
  @apply flex flex-col w-full h-full;
}

.calendar-header {
  @apply flex justify-between w-full p-4 border border-blue-50 bg-blue-50 text-center;
}

.month-change-button {
  @apply flex text-2xl;
}

.month {
  @apply text-2xl pr-1;
}

.dayOfWeek {
  @apply flex border-b-2 border-blue-50;
}

.weeks {
  @apply flex h-full border-b-2 border-blue-50;
}

.days {
  @apply h-full flex flex-col;
}

.day {
  @apply flex flex-col flex-1 border-r-2 border-blue-50 text-gray-500 hover:bg-gray-50 cursor-pointer justify-between;
}

.day-gray {
  @apply flex flex-1 border-r-2 border-blue-50 text-gray-500 justify-between;
}

.badge {
  @apply flex justify-between bg-green-200 text-green-800 text-xs font-medium m-2 px-1 py-0.5 rounded cursor-pointer hover:bg-green-100;
}

.text {
  @apply text-xs text-gray-500 pr-1 pl-1;
}

.text-gray {
  color: #d1d5db !important;
}

.text-red {
  @apply text-xs;
  color: #f05252 !important;
}

#Sun {
  @apply text-red-500;
}

#Sat {
  @apply text-blue-500;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'main-font',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
