@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'main-font';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/*layout*/
.container {
  @apply flex flex-col w-full h-full;
}

.container-header {
  @apply flex h-16 w-full border-b border-gray-200 text-center;
}

.container-header-div {
  @apply flex w-full justify-between items-center;
}

.container-header-text {
  @apply pl-2 text-2xl;
}

.header {
  @apply flex items-center justify-center w-full h-12 border border-gray-200;
}

.footer {
  @apply flex justify-between border-t border-gray-200 items-center md:items-start flex-col md:flex-row;
}

.footer-text {
  @apply text-sm text-gray-500;
}

.title {
  @apply text-2xl font-bold tracking-tight text-gray-900;
}

.card {
  @apply block max-w-sm m-4 p-4 bg-white border border-gray-200 rounded-lg shadow;
}

.header-img {
  @apply h-16 w-16 p-1.5 object-contain border-b border-gray-200;
}

/*season*/
.spring {
  background-color: #F5E6E7;
}

.summer {
  background-color: #B8D6E8;
}

.autumn {
  background-color: #E5D0BB;
}

.winter {
  background-color: #F3F4F1;
}

/*component*/
.input {
  @apply border-gray-200 text-gray-900 text-sm rounded-lg border focus:ring-blue-200 focus:border-blue-200 block w-full ml-2;
}

.timer {
  @apply absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none;
}

.textarea {
  @apply block p-2.5 w-full h-full text-sm text-gray-900 rounded-lg border border-gray-200 focus:ring-blue-200 focus:border-blue-200 resize-none;
}

.badge {
  @apply flex justify-between bg-green-200 text-green-800 text-xs font-medium m-2 px-1 py-0.5 rounded cursor-pointer hover:bg-green-300;
}

.text {
  @apply text-xs text-gray-500 pr-1 pl-1;
}

.text-gray {
  color: #d1d5db !important;
}

.text-red {
  @apply text-xs;
  color: #f05252 !important;
}

.desc {
  @apply text-xs pl-1;
}

/*side-memo*/
.side-off {
  @apply fixed right-0 invisible translate-x-full ease-in-out duration-300;
}

.side-on {
  @apply translate-x-0 flex flex-col ease-in-out duration-300 border-b;
  width: 30rem;
}

.side-header {
  @apply w-full h-12 p-3 flex justify-between items-center;
}

.side-title {
  @apply flex items-baseline;
}

.side-memo-title {
  @apply flex w-full h-12 p-3;
}

.side-select-time {
  @apply flex w-full h-12 p-3;
}

.side-textarea {
  @apply w-full h-full p-3;
}

.side-confirm {
  @apply flex flex-row-reverse w-full h-16 p-3;
}

.side-confirm-button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
}

.side-delete-button {
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
}

.side-close-button {
  @apply flex text-2xl;
}

.memo-delete-button {
  @apply pl-1;
}

/*Calendar*/
.calendar-container {
  @apply h-full flex relative;
}

.calendar {
  @apply h-full w-full flex flex-col;
}

.month-change-button {
  @apply flex text-2xl pr-3;
}

.month {
  @apply text-2xl pr-1;
}

.week {
  @apply flex border-b;
}

.dayOfWeek {
  @apply flex flex-col flex-1 border-r text-gray-500 justify-between;
}

.weeks {
  @apply flex h-full border-b overflow-hidden;
}

.days {
  @apply h-full flex flex-col;
}

.day {
  @apply flex flex-col flex-1 border-r text-gray-500 hover:bg-gray-50 cursor-pointer justify-between;
}

.day-header {
  @apply flex justify-between;
}

.memo-create-button {
  @apply pl-1 text-2xl text-blue-500 hover:text-blue-600;
}

.day-gray {
  @apply flex flex-1 border-r bg-gray-100 text-gray-500 justify-between;
}

#Sun {
  @apply text-red-500;
}

#Sat {
  @apply text-blue-500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'main-font',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
